<!DOCTYPE html>
<html>
<head>
    <title>Leave a Comment</title>
</head>
<body>

<h1>Submit a Comment</h1>

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul>
      {% for m in messages %}
        <li>{{ m }}</li>
      {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

<form action="/add_comment" method="POST">
    <label>Name:</label><br>
    <input type="text" name="username"><br><br>

    <label>Comment:</label><br>
    <textarea name="comment" rows="4" cols="40"></textarea><br><br>

    <button type="submit">Submit</button>
</form>

<br>
<a href="/comments">View All Comments</a>

</body>
</html>
